@media (max-width: 500px) {
    #home {
        width: 500px;
    }
    .main-nav {
        align-items: center;
    }
    #actu {
        width: 500px;
        justify-content: center;
    }
    .link-news {
        width: 300px;
    }
    #project-movies {
        width: 500px;
        align-items: center;
        justify-content: center;
    }
    .affiche {
        width: 289px;
        margin-right: -30px;
    }
    #info-reached {
        width: 500px;
        flex-direction: column;
    }
    .inscriptions {
        width: 300px;
    }
    iframe {
        width: 300px;
    }
  }